---
title: Getting and using a trust mark
weight: 3
last_reviewed_on: 2019-04-11
review_in: 6 months
---

# Using the [TRUST MARK]

These rules cover the use of the trustmark brand and logos by certified companies and by services. This includes but is not limited to:

* email notifications or confirmations
* web pages
* service pages, registration, authentication and confirmation pages
* TV, print, radio, outdoor, email or online advertising social media

## The trustmark

The [TRUST MARK] how’s you’ve been certified to the appropriate level to deliver certain identity services, important for:

* building trust with end users
* selling your services to government

If a product changes beyond an agreed threshold the organisation may need to get recertified.

The [TRUST MARK] gives providers credibility to it’s users and to its customers, guaranteeing the services meet the standards that protect privacy, inclusivity, accessibility, portability and interoperability.

The [TRUST MARK] does not communicate reuse, the strength of an identity or anything about where the identity can be used. The identity scheme or relying party service should make sure users understand what a digital identity is and how it can be used.

End users, government buyers and auditors of your service can check the validity of the trustmark using the <a href="#">trustmark checking service</a> to look up your company.

To use a [TRUST MARK] you'll need to <a href="https://verify-participants-joining.herokuapp.com/drxik/certification">get certified to be a part of the trust framework</a>.

### The registry

The [TRUST MARK] must link to the identity provider registry from within the journey so users can validate it’s authenticity.

The registry of certified providers includes:

* the provider’s details
* what they’re certified for
* the appropriate level of certification
* when the certification expires

The registry is open meaning it can be accessed by end users, auditors, and government services to check the validity of a certification

## Getting and maintaining the [TRUST MARK]

### Who needs to be certified

Anyone providing services within the trust framework must be certified. The level of certification required may vary depending on the roles the provider is fulfilling (broker, identity provider, attribute provider). The level of certification required is approved by an auditor.

Relying party services do not need to be certified.

### The process

1. Apply to join the trust framework
2. Plan the certification level you need
3. Engage with an auditor
4. Have audit and get certified
5. Maintain certification

## Use cases

### End user interacting with ID product

The [TRUST MARK] should be available to give a provider credibility to their users.

User facing services must:
* use the boilerplate content to introduce certification to users
* the [TRUST MARK] must be present at every stage of any verification user journey
* link to the identity registry
* relying party services can only use the trustmark to show that an individual identity provider available on their service is a certified provider in the trust framework.

Providers may use the [TRUST MARK] with private sector services when they meet the terms of the trust framework.

### Providers selling ID products to government

Providers selling in the public sector must be able to show they are certified to provide services in the trust framework.

### Using the [TRUST MARK] in marketing

The [TRUST MARK] can be used by any certified provider in the trust framework to show they meet the government’s standards. Providers must follow the guidance for using the [TRUST MARK].

Providers and relying party services may not use the trustmark to promote any service not covered by the terms of the trust framework agreement.


## Using the trustmark

### The mark

![Blue certified provider badge](/images/certified_company_blue-01-02.svg)

**Print**

Black:  C0 M0 Y0 K100

**Online**

Black:  #0B0C0C

### Treatment

Providers should use the trustmark alongside their own company logo.

They must prioritise their own brand over the trustmark in the design hierarchy.

The minimum size of the symbol is 140px wide for digital applications and 30mm wide for print.

### Writing Trustmark

Outside the [TRUST MARK], for example, in sentences or titles, the name is written [TRUST MARK].

### Writing about the trustmark

You should use any of the following when describing a certified company’s relationship to the trust framework:
[Company name] is UK identity standards certified
