---
title: Getting and using a trust mark
weight: 3
last_reviewed_on: 2019-04-11
review_in: 6 months
---

# Using the trustmark

These rules cover the use of the trustmark brand and logos by certified companies and by services. This includes but is not limited to:

* email notifications or confirmations
* web pages
* service pages, registration, authentication and confirmation pages
* TV, print, radio, outdoor, email or online advertising social media

## The trustmark

The trustmark show’s you’ve been certified to the UK’s identity standards, important for:

* building trust with end users
* selling your services to government

End users, government buyers and auditors of your service can check the validity of the trustmark using the <a href="#">trustmark checking service</a> to look up your company.

To use a trustmark you'll need to <a href="https://verify-participants-joining.herokuapp.com/drxik/certification">get certified to be a part of the trust framework</a>.


<!-- ## Selling identity products

## Marketing your identity service to users

## Marketing the trust framework to citizens

## Using the trustmark in your user journey -->



## Using the trustmark
Certified providers may use the badge in two ways:

* when users are being verified for a government service
* to show certification

The trustmark must be present at every stage of any verification user journey.

Services can only use the badge to show that an individual identity provider available on their service is a certified provider in the trust framework.

Certified providers and services may not use the badge to promote any service not covered by the terms of the <a href="">trust framework agreement</a>.

### Colour version

![Blue certified provider badge](/images/certified_company_blue-01-02.svg)

**Print**

Black:  C0 M0 Y0 K100
Blue:  C100 M50 Y0 K0

**Online**

Black:  #0B0C0C
Blue:  #2b8cc4

### Black and white version

![Black and white certified company badge](/images/certified_company_black-01.svg)

### Treatment

Certified providers should use the trustmark alongside their own company logo.

They must prioritise their own brand over the badge in the design hierarchy.

This hierarchy should be implemented via sizing or relative positioning.

The minimum size of the symbol is 140px wide for digital applications and 30mm wide for print.

The trustmark must not be used as any kind of link or button.


## Writing Trustmark

Outside the trustmark (in sentences or titles for example), the name is written trustmark.

## Writing about the trustmark

You should use any of the following when describing a certified company's relationship to the trust framework:

* [Company name] is UK identity standards certified

## Referring to government services

References to government services must use the correct service name, with the correct capitalisation. Check GOV.UK for [an up-to-date list of services that use Verify](https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#government-services).
