---
title: Using the trustmark
weight: 4
last_reviewed_on: 2019-04-11
review_in: 6 months
---

# Using the trustmark

These rules cover the use of the trustmark brand and logos by certified companies and by services. This includes but is not limited to:

* email notifications or confirmations
* web pages
* service pages, registration, authentication and confirmation pages
* TV, print, radio, outdoor, email or online advertising social media

## The trustmark

The trustmark how’s you’ve been certified to the appropriate level to deliver certain identity services, important for:

* building trust with end users
* selling your services to government

The trustmark is an acknowledgement that an entity or participant has been independently assessed against specified standards and criteria and has met the requirements to participate in the Trust Framework.

The trustmark gives participants credibility to it’s users and to its customers, guaranteeing it’s services meet the government’s standards and principles.

The trustmark does not communicate to users the where an identity can be used or the strength of an identity. The provider or service should make sure users understand what a digital identity is and how it can be used.

End users, government buyers and auditors of your service can check the validity of the trustmark using the trustmark checking service to look up your company.

To use a trustmark you'll need to <a href="https://verify-participants-joining.herokuapp.com/drxik/certification">get certified to be a part of the trust framework</a>.

## Using the trustmark

User facing services must:

* use the boilerplate content to introduce digital identity / certification to users
* present the trustmark at every stage of any verification user journey
* link to the content on digital identity provided by the authoritative body so users can validate it’s authenticity
* relying party services can only use the trustmark to show that an individual identity provider available on their service is a certified provider in the trust framework.

Use of the trutmark is not restricted to supplying to the public sector.

Participants selling in the public sector must be able to show they are certified to provide services in the trust framework. This is outlined in the commercial framework.

The trustmark can be used by any certified provider in the trust framework to show they meet the government’s standards in for example, marketing material. participants must follow the brand guidelines for using the trustmark.

Participants and relying party services may not use the trustmark to promote any service not covered by the terms of the trust framework agreement.

## Brand guidelines for using the trustmark

[content here]

### The trustmark

[content here]

![Blue certified provider badge](/images/certified_company_blue-01-02.svg)

**Print**

Black:  C0 M0 Y0 K100

**Online**

Black:  #0B0C0C

### Treatment

Providers should use the trustmark alongside their own company logo.

They must prioritise their own brand over the trustmark in the design hierarchy.

The minimum size of the symbol is 140px wide for digital applications and 30mm wide for print.

### Writing Trustmark

Outside the trustmark, for example, in sentences or titles, the name is written trustmark.

### Writing about the trustmark

You should use any of the following when describing a certified company’s relationship to the trust framework:
[Company name] is UK identity standards certified
